<h1>adverts</h1>

<table>

<% @adverts.each do |advert| %>
  <tr>  <h2><%= advert.title %></h2> </tr>
    
    <tr><p> <%= markdown(advert.description) %> </p></tr>
 

                    <% if current_user && current_user.admin? %>
    <%= link_to 'Правка', edit_advert_path(advert) %> &nbsp
    <%= link_to 'Удалить', advert, method: :delete, data: { confirm: 'Are you sure?' } %> &nbsp
                <% end %>
</table>

<br />
<h4>  <%= link_to 'Подробнее', advert %> </h4>
<% end %>
